.jumbotron {
	-webkit-border-radius: 0;
	border-radius: 0 !important;
	margin-bottom: 0px;
	padding: 18px 30px;
}

.jumbotron h1 {
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	
	h1 {
		font-size: 20px;
		font-weight: bold;
	}
	
	h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
		display: block;
		margin: 4px;
	}
	
	.jumbotron h1 {
		font-size: 24px;
	}
	
	.jumbotron p {
		font-size: 14px;
	}
	
}